/** BTN DASHBOARD **/
.btn{
    font-family: OpenSansSemiBold;
    @include border-radius(4px 4px 4px 4px);
}
.btn-outline{
    border-width: 1px;
    border-style: solid;
    &.btn-primary{
        background-color:transparent;
        color:$primary;
        border-color:$primary;
        &:hover{
            background-color: $primary;
            color:$white;
        }
    }
    &.btn-secondary{
        background-color:transparent;
        color:$secondary;
        border-color:$secondary;
        &:hover{
            background-color: $secondary;
            color:$white;
        }
    }
    &.btn-success{
        background-color:transparent;
        color:$success;
        border-color:$success;
        &:hover{
            background-color: $success;
            color:$white;
        }
    }
    &.btn-danger{
        background-color:transparent;
        color:$danger;
        border-color:$danger;
        &:hover{
            background-color: $danger;
            color:$white;
        }
    }
}
.btn-success{
    background-color:$success;
    border-color: $success;
    color:$white;
    &:hover{
        opacity: 0.9;
        color:$white;
    }
}
.btn-table{
    border-width: 1px;
    border-style:solid;
}
.btn-primary{
    background-color:$primary;
    color:$white;
    border-color:$primary;
    &:hover{
        opacity: 0.9;
        color:$white;
    }
}
.btn-secondary{
    background-color:$secondary;
    border-color:$secondary;
    color:$white;
    &:hover{
        opacity: 0.9;
        color:$white;
    }
}

.btn-outline-primary{
    border-color:$primary;color:$primary;
    &:hover{
        background-color:$primary;
    }
}
.btn-danger{
    background-color:$danger;
    color:$white;
    border-color:$danger;
    &:hover{
        opacity: 0.9;
        color:$white;
    }
}
.btn-outline-danger{
    border-color:$danger;color:$danger;
    &:hover{
        background-color:$danger;
        color:$white;
    }
}