/** FORM DASHBOARD **/
.admin-form{
    padding:2em 0;
    .form-group{
        margin-bottom: 1.5em;
        label{
            display: inline-block;
            font-family: OpenSansSemiBold;
        }
        .form-control{
            border:1px solid #ced4da;
            @include border-radius(4px 4px 4px 4px);
        }
    [role="button"], area, input:not([type="range"]), label, select, summary, textarea{
        box-shadow: none;
        width: 100%;
        line-height: 3rem;
    }
    label{
        display: inline-block;
    }    
    }
    .radio-group{
        margin:0.5em 0;
        .custom-radio{
            position: relative;
            display:block;
            padding-left:1.5em;
            .custom-control-input{
                position:absolute;
                width: auto;
                left:0;
                top: 9px;
            }
            .custom-control-label{
                position:relative;
            }
        }
    }
    .mdeditor_toolbar button{
        padding:0;
    }
    
}

/** Tags **/
div.tagsinput { 
    border:1px solid #CCC; 
    background: #FFF; padding:5px; 
    width:350px; 
    height:100px; 
    overflow-y: auto;
    span.tag{
        border: 1px solid #00a0f0; 
        display: block; 
        float: left; 
        padding: 5px; 
        text-decoration:none; 
        background: #00a0f0; 
        color: #ffffff; 
        margin-right: 5px; 
        margin-bottom:5px;
        font-family: helvetica;  
        font-size:13px;
        a{
            font-weight: bold; 
            color: #ffffff; 
            text-decoration:none; 
            font-size: 11px;
        }
    }
    input{
        width:280px; 
        margin:0px; 
        font-family: helvetica; 
        font-size: 13px; 
        border:1px solid transparent; 
        padding:5px; 
        background: transparent; 
        color: #000; 
        outline:0px;  
        margin-right:5px; 
        margin-bottom:5px;
    }
    div{
        display:block; 
        float: left; 
    }
}
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}