/** SECTION DASHBOARD **/

.section--admin.admin-header{
    line-height:4em;
    h4{font-size:1.5em;font-family: OpenSansSemiBold}
}

.section--admin{
    ul{
        margin:0;
        li{
            display: inline-block;
            padding:0 0.3em;
        }
    }
    .admin-content{


    }
}