/** SECTION DASHBOARD **/

.section--admin.admin-header{
    line-height:4em;
    h4{font-size:1.5em;font-family: OpenSansSemiBold}
}

.section--admin{
    ul{
        margin:0;
        li{
            display: inline-block;
            &:after{
                content: '/';
                padding:0 0.3em;
            }
            &:last-child{
                &:after{
                    content: '';
                    padding:0;
                }
            }
        }
    }
}
.error-page{
    .error-icon{
        font-size:14em;
        color:#c5ced4;
    }
    h2{
        font-family: OpenSansSemiBold
    }
}