/** THEME DESIGN **/
html{
  height:100%;
}
body{
    font-family: OpenSansRegular;
    font-size:14px;
    height:100%;
}

#dashboard .footer--app{
    background-color:#ffffff;
    color:#2d3b48;
    padding:1em 0;
    font-size:0.9em;
    p{
      padding:0;
    }
    
}
