/* 
    Created on : 25 janv. 2019, 12:45:51
    Author     : SelMaK
*/
@font-face {
  font-family: OpenSansSemiBold;
  src: url(../fonts/opensans/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/opensans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSansRegular;
  src: url(../fonts/opensans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSansLight;
  src: url(../fonts/opensans/OpenSans-Light.ttf);
}

/** THEME DESIGN **/
html {
  height: 100%;
}

body {
  font-family: OpenSansRegular;
  font-size: 14px;
  height: 100%;
}

#dashboard .footer--app {
  background-color: #ffffff;
  color: #2d3b48;
  padding: 1em 0;
  font-size: 0.9em;
}

#dashboard .footer--app p {
  padding: 0;
}

/** MIXIN **/
/** VARIABLES **/
/** NAV ADMIN **/
#dashboard .nav--admin {
  background-color: #f6f6f6;
  color: #283179;
  line-height: 4em;
}

#dashboard .navAdmin ul li:hover > ul {
  display: block;
}

#dashboard .navAdmin ul {
  position: relative;
}

#dashboard .navAdmin li {
  display: inline-block;
  font-family: OpenSansSemiBold;
  padding: 0 1em;
  position: relative;
}

#dashboard .navAdmin li a {
  color: #5b626b;
  text-transform: none;
}

#dashboard .navAdmin li a i {
  background-color: #313b93;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  border-radius: 3px 3px 3px 3px;
}

#dashboard .navAdmin li a span {
  display: inline-block;
  line-height: 1.5;
}

#dashboard .navAdmin li ul.item-sub-menu {
  display: none;
  position: absolute;
  background-color: #242c6d;
  left: 0;
}

#dashboard .navAdmin li ul.item-sub-menu li {
  width: 200px;
  display: block;
  line-height: 3;
  padding: 0;
}

#dashboard .navAdmin li ul.item-sub-menu li a {
  color: #ffffff;
  display: block;
  padding: 0 1em;
}

#dashboard .navAdmin li ul.item-sub-menu li a:hover {
  background-color: #ffffff;
  color: #242c6d;
}

#dashboard .navAdmin li.active {
  background-color: #242c6d;
  color: #ffffff;
}

#dashboard .navAdmin li.active a {
  color: #ffffff;
}

#dashboard .width--sidebar {
  position: relative;
}

#dashboard .width--sidebar .header-logo figure {
  margin-left: 2em;
}

/**
 * PROGRESS
 **/
.progress {
  height: 20px;
  background: #E9EAEB;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: hidden;
  font-size: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8em;
}

.progress-bar {
  line-height: 12px;
  background: #242c6d;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.progress-bar.primary {
  background: #242c6d;
}

.progress-bar.success {
  background: #38ada9;
}

/** TABLE DASHBOARD **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table.table-responsive {
  border: 0;
}

table.table-responsive thead {
  background-color: #fff;
  color: #5b626b;
}

table.table-responsive thead th {
  border-bottom: 2px solid #dee2e6;
}

table.table-responsive thead tr {
  line-height: 3em;
}

table.table-responsive tr {
  line-height: 4em;
  margin-top: 2em;
}

table.table-responsive th {
  font-family: OpenSansRegular;
  padding: 0 1em;
  border-top: 1px solid #dee2e6;
}

table.table-responsive td {
  padding: 0 1em;
  border-top: 1px solid #dee2e6;
}

table.table-responsive .label {
  font-size: 0.9rem;
  padding: 0.1rem 0.5rem;
  text-transform: none;
  line-height: 2;
}

table.table-responsive img {
  height: 50px;
  vertical-align: middle;
  border-radius: 100px;
}

.table-responsive tbody tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}

.btn-table {
  display: inline-block !important;
  padding: 0 0.9em;
  font-size: 0.9em;
  font-family: OpenSansSemiBold;
  line-height: 2;
  vertical-align: baseline;
  border-radius: 4px 4px 4px 4px;
}

/** ALERT **/
.alert {
  padding: 1em;
  border: 1px solid transprent;
  border-radius: 4px 4px 4px 4px;
}

.alert-info {
  background-color: #d9edf7;
  color: #31708f;
}

.alert-warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
}

/** BTN DASHBOARD **/
.btn {
  font-family: OpenSansSemiBold;
  border-radius: 4px 4px 4px 4px;
}

.btn-outline {
  border-width: 1px;
  border-style: solid;
}

.btn-outline.btn-primary {
  background-color: transparent;
  color: #242c6d;
  border-color: #242c6d;
}

.btn-outline.btn-primary:hover {
  background-color: #242c6d;
  color: #ffffff;
}

.btn-outline.btn-secondary {
  background-color: transparent;
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline.btn-secondary:hover {
  background-color: #6c757d;
  color: #ffffff;
}

.btn-outline.btn-success {
  background-color: transparent;
  color: #38ada9;
  border-color: #38ada9;
}

.btn-outline.btn-success:hover {
  background-color: #38ada9;
  color: #ffffff;
}

.btn-outline.btn-danger {
  background-color: transparent;
  color: #ec536c;
  border-color: #ec536c;
}

.btn-outline.btn-danger:hover {
  background-color: #ec536c;
  color: #ffffff;
}

.btn-success {
  background-color: #38ada9;
  border-color: #38ada9;
  color: #ffffff;
}

.btn-success:hover {
  opacity: 0.9;
  color: #ffffff;
}

.btn-table {
  border-width: 1px;
  border-style: solid;
}

.btn-primary {
  background-color: #242c6d;
  color: #ffffff;
  border-color: #242c6d;
}

.btn-primary:hover {
  opacity: 0.9;
  color: #ffffff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #ffffff;
}

.btn-secondary:hover {
  opacity: 0.9;
  color: #ffffff;
}

.btn-outline-primary {
  border-color: #242c6d;
  color: #242c6d;
}

.btn-outline-primary:hover {
  background-color: #242c6d;
}

.btn-danger {
  background-color: #ec536c;
  color: #ffffff;
  border-color: #ec536c;
}

.btn-danger:hover {
  opacity: 0.9;
  color: #ffffff;
}

.btn-outline-danger {
  border-color: #ec536c;
  color: #ec536c;
}

.btn-outline-danger:hover {
  background-color: #ec536c;
  color: #ffffff;
}

/** LABEL DASHBOARD **/
.label {
  font-family: "OpenSansSemibold";
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 3px 3px 3px 3px;
}

.label-secondary {
  background-color: #6c757d;
  color: #ffffff;
}

.label-primary {
  background-color: #242c6d;
  color: #ffffff;
}

.label-success {
  background-color: #38ada9;
  color: #ffffff;
}

.label-warning {
  background-color: #e67e22;
  color: #ffffff;
}

.label-danger {
  background-color: #ec536c;
  color: #ffffff;
}

.header--nav {
  background-color: #ffffff;
  line-height: 7rem;
}

/** ribbon **/
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-family: OpenSansbold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #38ada9;
  /*background: linear-gradient(#38ada9 0%, #38ada9 100%);*/
  -webkit-box-shadow: 0 3px 10px -5px black;
          box-shadow: 0 3px 10px -5px black;
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon span:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #226866;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #226866;
}

.ribbon span:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #226866;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #226866;
}

.ribbon--primary span {
  background: #f2797c;
}

.ribbon--primary span:before {
  border-left: 3px solid #D06A6D;
  border-top: 3px solid #D06A6D;
}

.ribbon--primary span:after {
  border-right: 3px solid #D06A6D;
  border-top: 3px solid #D06A6D;
}

.ribbon--secondary span {
  background: #283179;
}

.ribbon--secondary span:before {
  border-left: 3px solid #226866;
  border-top: 3px solid #226866;
}

.ribbon--secondary span:after {
  border-right: 3px solid #226866;
  border-top: 3px solid #226866;
}

a, a:link {
  text-decoration: none;
}

ul, li, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.fixed-top {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
}

.bshadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

/** CARD DASHBOARD **/
.card {
  background-color: #ffffff;
  margin-bottom: 2em;
  -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
}

.card a {
  display: inline-block;
}

.card--widget {
  position: relative;
}

.card--widget h4.header-title {
  margin-bottom: 0.5em !important;
}

.card-body {
  padding: 1.25rem;
}

.card-body h4.header-title {
  font-family: OpenSansSemiBold;
  margin-bottom: 2em;
  text-transform: uppercase;
  letter-spacing: .02em;
  font-size: 14px;
}

.card-body .cb--icon {
  font-size: 4em;
  color: #b2bec3;
}

.card-body .cb--icon.strong {
  font-family: OpenSansSemiBold;
}

/** MAIN DASHBOARD **/
#dashboard .container-fluid {
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#dashboard .app-content {
  background-color: #eff3f6;
  padding: 15rem 0;
}

/** SECTION DASHBOARD **/
.section--admin.admin-header {
  line-height: 4em;
}

.section--admin.admin-header h4 {
  font-size: 1.5em;
  font-family: OpenSansSemiBold;
}

.section--admin ul {
  margin: 0;
}

.section--admin ul li {
  display: inline-block;
}

.section--admin ul li:after {
  content: '/';
  padding: 0 0.3em;
}

.section--admin ul li:last-child:after {
  content: '';
  padding: 0;
}

.error-page .error-icon {
  font-size: 14em;
  color: #c5ced4;
}

.error-page h2 {
  font-family: OpenSansSemiBold;
}

/** FORM DASHBOARD **/
.admin-form {
  padding: 2em 0;
}

.admin-form .form-group {
  margin-bottom: 1.5em;
}

.admin-form .form-group label {
  display: inline-block;
  font-family: OpenSansSemiBold;
}

.admin-form .form-group .form-control {
  border: 1px solid #ced4da;
  border-radius: 4px 4px 4px 4px;
}

.admin-form .form-group [role="button"], .admin-form .form-group area, .admin-form .form-group input:not([type="range"]), .admin-form .form-group label, .admin-form .form-group select, .admin-form .form-group summary, .admin-form .form-group textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  line-height: 3rem;
}

.admin-form .form-group label {
  display: inline-block;
}

.admin-form .radio-group {
  margin: 0.5em 0;
}

.admin-form .radio-group .custom-radio {
  position: relative;
  display: block;
  padding-left: 1.5em;
}

.admin-form .radio-group .custom-radio .custom-control-input {
  position: absolute;
  width: auto;
  left: 0;
  top: 9px;
}

.admin-form .radio-group .custom-radio .custom-control-label {
  position: relative;
}

.admin-form .mdeditor_toolbar button {
  padding: 0;
}

/** Tags **/
div.tagsinput {
  border: 1px solid #CCC;
  background: #FFF;
  padding: 5px;
  width: 350px;
  height: 100px;
  overflow-y: auto;
}

div.tagsinput span.tag {
  border: 1px solid #00a0f0;
  display: block;
  float: left;
  padding: 5px;
  text-decoration: none;
  background: #00a0f0;
  color: #ffffff;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: helvetica;
  font-size: 13px;
}

div.tagsinput span.tag a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  font-size: 11px;
}

div.tagsinput input {
  width: 280px;
  margin: 0px;
  font-family: helvetica;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 5px;
  background: transparent;
  color: #000;
  outline: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}

div.tagsinput div {
  display: block;
  float: left;
}

.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}

.not_valid {
  background: #FBD8DB !important;
  color: #90111A !important;
}

/** MODAL DASHBOARD **/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0vh;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  z-index: 9999;
}

.modal .content-wrapper {
  position: relative;
  width: 50%;
  margin: 0;
  padding: 2.5rem;
  background-color: white;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.modal .content-wrapper .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.modal.open {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.modal.open > .content-wrapper {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal .content-wrapper .close:before, .modal .content-wrapper .close:after {
  position: absolute;
  content: '';
  width: 1.25rem;
  height: 0.125rem;
  background-color: black;
}

.modal .content-wrapper .close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal .content-wrapper .close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .content-wrapper .close:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.modal .content-wrapper .close:hover:before, .modal .content-wrapper .close:hover:after {
  background-color: tomato;
}

.modal .content-wrapper .modal-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0 0 1.25rem;
}

.modal .content-wrapper .modal-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal .content-wrapper .content p {
  line-height: 1.75;
}

.modal .content-wrapper .modal-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 1.875rem 0 0;
}

.modal .content-wrapper .modal-footer .action {
  position: relative;
  margin-left: 0.625rem;
  border: none;
  background-color: #e67375;
  color: white;
  overflow: hidden;
  z-index: 1;
}

.modal .content-wrapper .modal-footer .action:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
  z-index: 0;
}

.modal .content-wrapper .modal-footer .action:first-child {
  background-color: #2ecc71;
}

.modal .content-wrapper .modal-footer .action:last-child {
  background-color: #e74c3c;
}

.modal .content-wrapper .modal-footer .action:hover:before {
  width: 100%;
}

/** MEDIA QUERY DASHBOARD **/
/*------------------------------------
MEDIA RESPONSIVE MOBILE ADAPT
-------------------------------------*/
@media only screen and (max-width: 750px) {
  #dashboard .header-logo figure {
    margin-left: 2em;
    float: none;
  }
  .wrapper-pusher, .site-wrapper {
    height: 100%;
  }
  .site-wrapper {
    overflow: hidden;
  }
  .wrapper-pusher {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  .section {
    padding: 0;
  }
  .app-content {
    position: absolute;
    top: 85px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0 !important;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .header--nav {
    position: static;
  }
  .header--icon {
    position: relative;
    display: block;
    float: left;
    width: 35px;
    height: 50px;
    cursor: pointer;
  }
  .header--icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 2rem;
    height: 0;
    top: 20px;
    -webkit-box-shadow: 0 10px 0 1px #6c757d, 0 16px 0 1px #6c757d, 0 22px 0 1px #6c757d;
            box-shadow: 0 10px 0 1px #6c757d, 0 16px 0 1px #6c757d, 0 22px 0 1px #6c757d;
  }
  .socialNetwork {
    display: none;
  }
  .navAdmin {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #242c6d;
    width: 250px;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
    /*display: none;*/
  }
  .navAdmin li {
    display: block !important;
    border-bottom: 1px solid #2f398d;
    width: 100% !important;
  }
  .navAdmin li a {
    display: block;
    padding: 0 !important;
    color: #ffffff !important;
    border: none !important;
  }
  .navAdmin li a:hover {
    border: none !important;
    color: #2f398d !important;
  }
  .navAdmin ul ul {
    background-color: #1A1F4D !important;
    position: relative !important;
    margin-left: -15px;
    margin-right: -15px;
  }
  .navAdmin ul ul li a {
    padding: 0 1em !important;
  }
  .width--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .width--sidebar .wrapper-pusher {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
}

@media (max-width: 720px) {
  .bottom-footer, footer {
    display: none;
  }
}
/*# sourceMappingURL=layout.css.map */